/* General Styling */
body {
    font-family: 'Poppins', sans-serif;
    background-color: #f5f5f5;
}


/* Container */
.container {
    max-width: 1200px;
    margin: auto;
    padding: 20px;
}

/* Carousel */
.carousel-item {
    height: 650px;
}

.carousel-item img {
    object-fit: cover;
}

/* Painting Card */
.painting-card {
    border-radius: 12px;
    overflow: hidden;
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
    background: white;
}

.painting-card:hover {
    cursor: pointer;
    transform: translateY(-5px);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}

/* Categories */
