{% extends 'base.html' %}


{% block title %}Paintings List{% endblock %}


{% block body %}
<div class="row justify-content-center">
    {% for painting in paintings %}
    <div class="col-md-4 d-flex justify-content-center p-4">
        <div class="card painting-card shadow-sm">
            <img src="{{ painting.image.url }}" class="card-img-top painting-image" alt="{{ painting.title }}">
            <div class="card-body text-center">
                <h5 class="card-title painting-title">{{ painting.title }}</h5>
                <p class="card-text painting-description">{{ painting.description }}</p>
                <p class="painting-price fw-bold">${{ painting.price }}</p>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}
